<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./body.ejs %>
    <input type="button" name="" onclick="">
    <div>
      <a href="chart_bar">chart_bar</a>
    </div>
    <div>
      <a href="chart_line">chart_line</a>
    </div>
    <div>
      <a href="chart_pie">chart_pie</a>
    </div>
  
  </body>
</html>